{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고정된 Kakao 지도</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac0b6c80466a2f9f681b4021d09253c3"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% comment %} <script type="module" src="/static/js/map copy.js"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/main_map_info.css'%}">
</head>
<body>
	<div class="Map_API" style="width: 100%; height: 600px; background-color: lightgray; border: 1px solid black; display: flex; justify-content: center;">
        <!-- 설명 부분 50% -->
        <div style="width: 30%; height: 100%; padding: 10px; overflow-y: auto;">
            <h2 style="font-weight: 800; font-size: 45px; color: black;">한국의 지역</h2>
            <h2 id='descriptionText' style="font-weight: 800; font-size: 40px; color: black;"></h2>
                    <!--<div id = 'main_info_image'></div>-->
                    <section id="sliderType04">
                        <div class="slider__wrap">
                            <div class="slider__img">
                                <div class="slider__inner">
                                    <!-- 슬라이더 이미지가 JavaScript로 동적으로 추가됩니다. -->
                                </div>
                            </div>
                            <div class="slider__btn">
                                <a href="#" class="prev" role="button">‹</a>
                                <a href="#" class="next" role="button">›</a>
                            </div>
                        </div>
                    </section>
        </div>
    
        <!-- 지도 표시 영역 50% -->
        <div id="map" style="width: 40%; height: 100%;"></div>
            <script>
                let mapContainer = document.getElementById('map'),
                mapOption = {
                center: new kakao.maps.LatLng(35.966826, 127.9786567),
                level: 13   
                };
    
                let map = new kakao.maps.Map(mapContainer, mapOption),
                customOverlay = new kakao.maps.CustomOverlay({});
    
                map.setZoomable(false);
                map.setDraggable(false);
            </script>
        </div>
        <script type="module" src="/static/js/map_total.js"></script>
</body>
</html>
